# URL configured in your uibuilder node (without leading slash)
VITE_UIBUILDER_URL=can-monitor

# Optional override if you do not use the Vite proxy in development
# VITE_NODERED_URL=http://localhost:1880
